<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GestureBlockDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8EA292951CC479E5008F744B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EA292B11CC479E5008F744B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EA292BC1CC479E5008F744B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
